body {
  font-family: sans-serif;
  margin: 0;
  padding-top: 40px;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.pattern-cell {
  background: #444;
  border: 0.2rem solid #fff;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
}
.pattern-cell.selected {
  background: #222;
}
