{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": 0,
    "no-unused-vars": [2, {"vars": "all", "args": "after-used", "varsIgnorePattern": "React"}],
    "no-console": 1
  },
  "globals": {
    "describe": true,
    "expect": true,
    "it": true,
    "__DEV__": true
  }
}
