.npm-check {

}

.npm-check-form input {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}

.npm-check-form button {
  width: 100%;
  height: 60px;
  background: #329AFF;
  color: white;
  font-size: 1em;
  border: 1px solid #186BBB;
  outline: none;
}

.npm-check-results {
  padding-top: 5px;
}

  .npm-check-dependency {
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 10px;
    background: #9DFF9D;
  }

  .npm-check-dependency.out-of-date {
    background: #FF9F9D;
  }

  .npm-check-dependency.unused {
    background: #FFF09D;
  }

  .npm-check-filter ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: row;
  }

  .npm-check-filter ul li {
    height: 20px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 0 0 3px 3px;
    float: left;
    text-align: center;
    flex-grow: 1;
    cursor: pointer;
  }

  .npm-check-filter ul li.active {
    background: #D6D6D6;
  }
