.npm-check {

}

.npm-check-form input {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  outline:none;
  border-radius: 3px 3px 0 0;
  box-shadow: none;
  border: 1px solid #186BBB;
  border-bottom: none;
  padding: 10px;
}

.npm-check-form input:disabled {
  background: rgba(187, 183, 183, 0.22);
}

.npm-check-form button {
  width: 100%;
  height: 60px;
  background: #329AFF;
  color: white;
  font-size: 1em;
  border: 1px solid #186BBB;
  outline: none;
  text-align: left;
}

.npm-check-results {
  padding-top: 5px;
}

  .npm-check-dependency {
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 10px;
    background: #9DFF9D;
  }

  .npm-check-dependency.out-of-date {
    background: #FF9F9D;
  }

  .npm-check-dependency.unused {
    background: #FFF09D;
  }

  .npm-check-filter ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: row;
  }

  .npm-check-filter ul li {
    height: 20px;
    padding: 10px;
    border: 1px solid #186BBB;
    border-radius: 0 0 3px 3px;
    float: left;
    text-align: center;
    flex-grow: 1;
    cursor: pointer;
  }

  .npm-check-filter ul li.active {
    background: rgba(216, 236, 255, 0.65);
  }

  .npm-check-report {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  }

  .npm-check-loading .pulse {
    width:300px;
    height: 300px;
  }
